@{
    ViewData["Title"] = Localizer["Leagues"];
    ViewData["Description"] = Localizer["LeaguesDescription"];
}

<div class="div-border mt-3 mb-3 rounded-top">
    <div class="div-text">
        <h1 class="my-title text-center text-uppercase font-weight-bold">@Localizer["Leagues"]</h1>
        <div class="row div-text">
            <div class="col-md-8">
                <p class="my-text">@Localizer["IndexLeagues"]</p>
                <p class="my-text">@Localizer["LeaguesDesc"]</p>
                <div class="table-responsive">
                    <table class="table table-sm table-bordered my-text">
                        <thead>
                            <tr class="text-center">
                                <th>@Localizer["League"]</th>
                                <th>@Localizer["LeagueTableTitle1"]</th>
                                <th>@Localizer["LeagueTableTitle2"]</th>
                                <th>@Localizer["LeagueTableTitle3"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <td>12.</td>
                                <td>-</td>
                                <td>1</td>
                                <td>* 1.04</td>
                            </tr>
                            <tr class="text-center">
                                <td>11.</td>
                                <td>3</td>
                                <td>6</td>
                                <td>* 1.08</td>
                            </tr>
                            <tr class="text-center">
                                <td>10.</td>
                                <td>5</td>
                                <td>8</td>
                                <td>* 1.12</td>
                            </tr>
                            <tr class="text-center">
                                <td>9.</td>
                                <td>7</td>
                                <td>10</td>
                                <td>* 1.16</td>
                            </tr>
                            <tr class="text-center">
                                <td>8.</td>
                                <td>9</td>
                                <td>12</td>
                                <td>* 1.20</td>
                            </tr>
                            <tr class="text-center">
                                <td>7.</td>
                                <td>11</td>
                                <td>14</td>
                                <td>* 1.24</td>
                            </tr>
                            <tr class="text-center">
                                <td>6.</td>
                                <td>13</td>
                                <td>16</td>
                                <td>* 1.28</td>
                            </tr>
                            <tr class="text-center">
                                <td>5.</td>
                                <td>15</td>
                                <td>18</td>
                                <td>* 1.32</td>
                            </tr>
                            <tr class="text-center">
                                <td>4.</td>
                                <td>17</td>
                                <td>20</td>
                                <td>* 1.36</td>
                            </tr>
                            <tr class="text-center">
                                <td>3.</td>
                                <td>19</td>
                                <td>22</td>
                                <td>* 1.40</td>
                            </tr>
                            <tr class="text-center">
                                <td>2.</td>
                                <td>21</td>
                                <td>24</td>
                                <td>* 1.45</td>
                            </tr>
                            <tr class="text-center">
                                <td>1.</td>
                                <td>23</td>
                                <td>-</td>
                                <td>* 1.50</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h2 class="my-h2">@Localizer["LeaguesOther"]</h2>
                <div class="table-responsive">
                    <table class="table table-bordered my-text">
                        <thead>
                            <tr>
                                <th>
                                    @Localizer["LeagueMultiplierTitle"]
                                </th>
                                <th>
                                    @Localizer["LeagueConditions"]
                                </th>
                                <th>
                                    @Localizer["LeagueTableTitle3"]
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Localizer["HomeMatch"]</td>
                                <td>@Localizer["Multiplier1"]</td>
                                <td>* 1.01 - 1.50</td>
                            </tr>
                            <tr>
                                <td>@Localizer["FirstDayWin"]</td>
                                <td>@Localizer["Multiplier2"]</td>
                                <td>* 1.50</td>
                            </tr>
                            <tr>
                                <td>@Localizer["5-streakWin"]</td>
                                <td>@Localizer["Multiplier2"]</td>
                                <td>* 1.50</td>
                            </tr>
                            <tr>
                                <td>@Localizer["EventBonus"]</td>
                                <td>@Localizer["Multiplier3"]</td>
                                <td>* 1.05 - 1.50</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <img src="~/images/manager.png" alt="Club Manager 2019" class="img-fluid mx-auto d-block" />
            </div>
        </div>
    </div>

</div>
